# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
db.sqlite3
*.sqlite3
media/
staticfiles/
*.pot
*.pyc

# Pipenv
Pipfile.lock
Pipfile

# VSCode
.vscode/

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db
