[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.1.6"
spotipy = "==2.16.1"
youtube-search = "==1.1.1"

[dev-packages]

[requires]
python_version = "3.13"
